@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

$white:    #fff !default;
$gray-100: hsl(220, 20%, 97%);
$gray-200: hsl(228, 20%, 95%);
$gray-300: hsl(223, 20%, 93%);
$gray-400: hsl(219, 27%, 88%);
$gray-500: hsl(221, 20%, 70%);
$gray-600: hsl(221, 20%, 60%);
$gray-700: hsl(220, 19%, 49%);
$gray-800: hsl(223, 25%, 35%);
$gray-900: hsl(219, 20%, 20%);

$black:    #000 !default;

$blue:    #001CCB !default;
$indigo:  hsl(231, 48%, 48%) !default; // TODO should be hsl(241, 37%, 34%)
$purple:  #86367e !default;
$pink:    #e83e8c !default;
$red:     hsl(357, 74%, 53%) !default;
$orange:  #ffa200 !default;
$yellow:  hsl(43, 100%, 54%) !default;
$green:   hsl(93, 33%, 53%) !default;
$teal:    #008489 !default;
$cyan:    #4D759D !default; //hsl(210, 39%, 38%)

$primary:       $cyan;
$secondary:     hsl(209, 31%, 62%);
$success:       $green;
$info:          $teal;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          #2F557A;

$gray-dark:                 $gray-800 !default;
$gray:                      $gray-700 !default;
$gray-light:                $gray-600 !default;
$gray-lighter:              $gray-100 !default;
$gray-lightest:             $gray-100 !default;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "brand":    #193958
) !default;

$body-bg:                   $gray-300 !default;
$body-color:                #373675 !default;

$box-shadow:                  0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12) !default;
$box-shadow-sm:               0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12) !default;
$box-shadow-lg:               0px 5px 5px -3px rgba(0,0,0,0.2),0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12) !default;

$badge-padding-y:             .28rem !default;
$badge-padding-x:             .71rem !default;
$badge-font-size:             .71rem !default;
$badge-font-weight:           500 !default;

$btn-border-width:            1px !default;
$btn-box-shadow:              none !default;
$btn-font-size:               0.875rem !default;
$btn-line-height:             1 !default;
$btn-outline-padding-top:     .71rem !default;
$btn-outline-padding-bottom:  .71rem !default;
$btn-outline-padding-left:    .71rem !default;
$btn-outline-padding-right:   .71rem !default;
$btn-padding-left:            .71rem !default;
$btn-padding-right:           .71rem !default;
$btn-padding-top:             .71rem !default;
$btn-padding-bottom:          .71rem !default;

$card-border-radius:          4px !default;
$card-box-shadow:             none !default;
$card-cap-padding-x:          1.14rem !default;
$card-cap-padding-y:          1.14rem !default;
$card-spacer-x:               1.14rem !default;
$card-spacer-y:               1.14rem !default; 

$form-label-color:            #647494 !default;

$input-bg:                  #FFF !default;

$list-group-item-padding-y:   1.14rem !default; 
$list-group-item-padding-x:   1.14rem !default;

$nav-tabs-link-active-bg:     #FFF !default;

$table-color:                $body-color !default;
$table-hover-bg:             hsla(223, 100%, 95%, 0.25) !default;
$table-th-font-weight:       700 !default;

$font-family-sans-serif:    'Open Sans', sans-serif !default;
$font-family-roboto:        'Open Sans', sans-serif !default;

// @import "~bootstrap/scss/bootstrap";
@import "~mdb-ui-kit/src/scss/mdb.free.scss";
@import "./svg.scss";

// TODO logo URL as css var?

// Typography

html {
  font-size: 14.4px;
}

.badge {
  text-transform: uppercase;

  &.bg-light {
    color: $body-color;
  }
}

.btn {
  text-transform: none;
}

// flex-column
.btn-toolbar {
  flex-direction: column !important;
  margin: 1rem 0;
  width: 100%;
  &:last-child {
    margin-bottom: 0;
  }
}
.btn-toolbar > .btn {
  margin-bottom: 1rem;
  > .btn,
  > .btn-group,
  > .input-group {
    margin-left: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 576px) {
  .btn-toolbar {
    flex-direction: row !important;
    > .btn,
    > .btn-group,
    > .input-group {
      margin-left: .4rem;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .btn-toolbar > .btn {
    margin-bottom: 0;
  }
}

.card {
  box-shadow: none;
}

.card-header {
  margin-bottom: 0;
  .card-title {
    @extend .h5;
    margin-bottom: 0 !important;
    font-size: 1.14rem;
    font-weight: normal;
  }
}

// TODO workaround for mdkit overrides
.form-control {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.input-group > .form-control {
  height: auto;
}
.input-group > .form-control {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.input-group-text {
  background-color: $input-bg;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: #211E3C;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.table th {
  font-weight: $table-th-font-weight;
}
